<h1>This is an app testing</h1>
<% @books.each do |book| %>
  <%= link_to book.title, book_path(book) %>
<% end %>

<div class="columns">
  <div class="column">1</div>
  <div class="column">2</div>
  <div class="column">3</div>
  <div class="column">4</div>
  <div class="column">5</div>
</div>

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Books</p>
      <p class="title">3,456</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Members</p>
      <p class="title">123</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Book Clubs</p>
      <p class="title">456K</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Likes</p>
      <p class="title">789</p>
    </div>
  </div>
</nav>

<%= link_to "Add new book", new_book_path %>
