
  <section class="hero is-medium is-light is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Digibook
      </h1>
      <h2 class="subtitle">
        Book Club
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <h1 class="has-text-centered title is-1">Books</h1>

  <div class="columns is-centered">
    <% @books.each do |book| %>
    <div class="column is-3">

      <h3 class="title"><%= link_to book.title, book_path(book) %></h3>
      <h4 class="subtitle"><%= book.author %></h4>
    </div>
    <% end %>
  </div>



</section>




<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Books</p>
      <p class="title">3,456</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Members</p>
      <p class="title">123</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Book Clubs</p>
      <p class="title">456K</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Likes</p>
      <p class="title">789</p>
    </div>
  </div>
</nav>

<%= link_to "Add new book", new_book_path %>
